<!DOCTYPE html>
<html>

<head th:include="fragments/layout.html :: headFragment">
    <title id="pageTitle">Diary</title>
</head>

<body>
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section" th:replace="fragments/layout.html :: headerFragment('diary')">
    </header>
    <!-- end header section -->
</div>

<!-- contact section -->

<section class="contact_section layout_padding" id="app">
    <div class="custom_heading-container">
        <h3 class=" ">
            To Guess
        </h3>
    </div>
    <div class="container layout_padding2-top" v-if="content != null">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form action="">
                    <div id="domximage">
                        <div
                                style="width: 100%; border: 0;padding: 15px 12px;background-color: #f2f2f2;outline: none;margin: 10px 0; height:250px; font-family: 'Nanum Myeongjo', serif; font-size: 1.6em; height: fit-content;"

                                v-text="!control_pannel ? content.text : content.translateSentence.text"
                        >
                        </div>
                    </div>

                    <div
                            style="padding: 0px;margin: 0px;"
                            v-if="control_pannel"
                    >
                        <div>
                            <input type="text" :placeholder="options[content.selected - 1].label"
                                   v-model="ans1"
                            />
                        </div>

                        <div>
                            <input type="text" placeholder="암호를 입력하세요"
                                   v-model="ans2"
                            />
                        </div>

                        <div class="d-flex justify-content-center ">
                            <button type="button" data-toggle="modal" data-target="#exampleModal"
                                    v-on:click="clickOkBtnHandler($event)"
                            >
                                확인
                            </button>

                            <button type="button" style="margin-left: 25px;"
                                    onclick="location.href='../html/checked.html';"
                                    v-if="false"
                            >확인(정답일경우)
                            </button>

                        </div>
                    </div>

                    <div style="padding-top:6%; text-align: right;">
                        <p style="display: inline;">입장한사람 </p>
                        <p style="display: inline;font-weight: bold; padding-left: 4%;">
                            {{content.entered}}명
                        </p>
                    </div>
                    <div style="padding-top: 2%;text-align: right;">
                        <p style="display: inline;">시도한횟수</p>
                        <p style="display: inline;font-weight: bold; padding-left: 2%;"


                        >
                            {{content.tried}} 회
                        </p>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- end contact section -->
<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true" style="margin-top: 10%;">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">많이 노력했습니다</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                정답이 아니예요 다시 시도해보세요-->

<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!-- footer section -->
<section class="container-fluid footer_section">
    <p>
        ⓒ 머스터드 드로잉 2022
    </p>
</section>
<!-- footer section -->

<th:block th:replace="fragments/layout.html :: scriptFragment"></th:block>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            id: [[${id}]],
            content: null,
            options:
                [
                    {label: '제일 좋아하는 탄산음료는?', id: 1},
                    {label: '제일 좋아하는 동물은?', id: 2},
                    {label: '제일 좋아하는 음식은?', id: 3},
                ],
            ans1: null,
            ans2: null,
            control_pannel: true,
        },
        created: function () {
            fetch(`/content/${this.id}`, {method: 'POST'})
                .then((r) => {
                    if (r.ok) return r.json()
                })
                .then((d) => {
                    this.content = d
                })
        },
        methods: {
            clickOkBtnHandler: function (e) {
                e.preventDefault()

                if (this.content.tried == null) {
                    this.content.tried = 1
                } else {
                    this.content.tried += 1
                }

                const form = new FormData()

                form.append('s_content', JSON.stringify(this.content))

                fetch('/content/save', {method: 'PUT', body: form})
                    .then((r) => {
                        if (r.ok) return r.json()
                    })
                    .then((d) => {
                        this.content = d
                    })


                if (this.ans1 == this.content.custom_answer || this.ans2 == this.content.securityKey) {
                    this.control_pannel = false
                } else {
                    this.ans2 = ''

                    this.ans1 = ''

                    alert("답이 맞지 않습니다.")
                }
            }
        }
    })
</script>


</body>

</html>