<!DOCTYPE html>
<html>

<head th:include="fragments/layout.html :: headFragment">
    <title id="pageTitle">Diary</title>
</head>

<body>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Roboto:ital,wght@1,300&display=swap"
      rel="stylesheet">
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section" th:replace="fragments/layout.html :: headerFragment('diary')">
    </header>
    <!-- end header section -->
</div>

<section class="contact_section layout_padding" id="root">
    <div class="custom_heading-container">
        <h3 class=" ">
            My diary
        </h3>
    </div>
    <div class="container layout_padding2-top" v-if="content != null">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form action="" v-if="!save_btn_event">
                    <div>
                    <textarea placeholder="텍스트를 입력해 주세요"
                              style="width: 100%; border: 0;padding: 15px 12px;background-color: #f2f2f2;outline: none;margin: 10px 0; height:250px;"
                              :value="content.text"
                              @input="event => content.text = event.target.value"
                    >
                    </textarea>
                    </div>

                    <div class="d-flex justify-content-center "
                         v-on:click="clickSaveBtnHandler($event)"
                    >
                        <button type="button">
                            번역
                        </button>

                    </div>

                </form>
                <form action="" v-if="save_btn_event">
                    <div id="domximage">
                        <div
                                style="width: 100%; border: 0;padding: 15px 12px;background-color: #f2f2f2;outline: none;margin: 10px 0; height:250px; font-family: 'Nanum Myeongjo', serif; font-size: 1.6em; height: fit-content;"
                        >
                            {{content.translateSentence.text}}
                        </div>
                    </div>

                    <div class="d-flex justify-content-center "
                    >

                        <button
                                type="button"
                                v-on:click="exportPng"
                        >
                            저장
                        </button>
                        <button class="copyButton" onclick="location.href='';" type="button">복사</button>
                        <button class="diaryButton" onclick="location.href='../html/secret.html';"
                                type="button"
                                style="">비밀일기
                        </button>

                    </div>
                </form>
            </div>
        </div>

    </div>
</section>


<!-- footer section -->
<section class="container-fluid footer_section">
    <p>
        ⓒ 머스터드 드로잉 2022
    </p>
</section>
<!-- footer section -->

<th:block th:replace="fragments/layout.html :: scriptFragment"></th:block>

<script th:src="@{/webjars/github-com-tsayen-dom-to-image/2.6.0/dom-to-image.js}"></script>
<script th:src="@{/webjars/file-saver/dist/FileSaver.js}"></script>

<script>
    const app = new Vue({
        el: '#root',

        data: {
            save_btn_event: false,
            content: null,
        },
        mounted: function () {

            fetch('/diary/new', {method: 'POST'})
                .then((res) => res.json())
                .then((data) => {
                    this.content = data
                })
        },
        methods: {
            clickSaveBtnHandler: function (e) {
                e.preventDefault()

                const bod = new FormData()

                bod.append('_content', JSON.stringify(this.content))

                fetch('/diary', {method: 'PUT', body: bod})
                    .then((res) => res.json())
                    .then((data) => {
                        this.content = data

                        this.save_btn_event = true
                    })

            },
            exportPng: function () {
                const dom_node = document.getElementById('domximage')

                domtoimage.toBlob(dom_node)
                    .then((blob) => {
                        window.saveAs(blob, 'mind.png')
                    })
            }
        }
    })
</script>

</body>

</html>