<!DOCTYPE html>
<html>

<head th:include="fragments/layout.html :: headFragment">
    <title id="pageTitle">Diary</title>
</head>

<body>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Roboto:ital,wght@1,300&display=swap"
      rel="stylesheet">
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section" th:replace="fragments/layout.html :: headerFragment('diary')">
    </header>
    <!-- end header section -->
</div>
<div id="root" style="padding: 0px;margin: 0px;">
    <section class="contact_section layout_padding" v-if="vw1">
        <div class="custom_heading-container">
            <h3 class=" ">
                My diary
            </h3>
        </div>
        <div class="container layout_padding2-top" v-if="content != null">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form action="" v-if="!save_btn_event">
                        <div>
                    <textarea placeholder="텍스트를 입력해 주세요"
                              style="width: 100%; border: 0;padding: 15px 12px;background-color: #f2f2f2;outline: none;margin: 10px 0; height:250px;"
                              :value="content.text"
                              @input="event => content.text = event.target.value"
                    >
                    </textarea>
                        </div>

                        <div class="d-flex justify-content-center "
                             v-on:click="clickSaveBtnHandler($event)"
                        >
                            <button type="button">
                                번역
                            </button>

                        </div>

                    </form>
                    <form action="" v-if="save_btn_event">
                        <div id="domximage">
                            <div
                                    style="width: 100%; border: 0;padding: 15px 12px;background-color: #f2f2f2;outline: none;margin: 10px 0; height:250px; font-family: 'Nanum Myeongjo', serif; font-size: 1.6em; height: fit-content;"
                            >
                                {{content.translateSentence.text}}
                            </div>
                        </div>

                        <div class="d-flex justify-content-center "
                        >

                            <button
                                    type="button"
                                    v-on:click="exportPng"
                            >
                                저장
                            </button>
                            <button
                                    class="copyButton"
                                    type="button"
                                    v-on:click="copyUrl"
                            >
                                복사
                            </button>
                            <button
                                    class="diaryButton"
                                    type="button"
                                    v-on:click="clickSecretBtn"
                            >
                                비밀일기
                            </button>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>


    <!--TODO-->

    <section class="contact_section layout_padding" v-if="vw2">
        <div class="custom_heading-container">
            <h3 class=" ">
                Blockchain keys
            </h3>
        </div>

        <div class="container layout_padding2-top">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form action="">
                        <div>
                            <span class="publickey1">PRIVATE:</span>
                            <input class="publickey2" type="text" :value="content.securityKey" disabled>
                        </div>
                        <div class="d-flex justify-content-center ">
                            <button type="button" v-on:click="clickDirectSettingsBtn">암호 직접 설정하기</button>
                            <button class="disactiveButton" type="button"
                                    v-on:click="clickCloseSecretBtn">
                                닫기
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <section class="contact_section layout_padding" v-if="vw_create">
        <div class="custom_heading-container">
            <h3 class=" ">
                Settings
            </h3>
        </div>

        <div class="container layout_padding2-top">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form action="">
                        <div>
                            <select name="" id="">
                                <option value="" disabled selected>질문을 선택하세요</option>
                                <option value="">제일 좋아하는 탄산음료는?</option>
                                <option value="">제일 좋아하는 동물은?</option>
                                <option value="">제일 좋아하는 은식은?</option>
                            </select>
                        </div>
                        <div>
                            <input type="text" placeholder="답을 입력해주세요" value="">
                        </div>
                        <div class="d-flex justify-content-center ">
                            <button type="button" onclick="location.href='../html/index.html';">저장</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</div>
<!-- footer section -->
<section class="container-fluid footer_section">
    <p>
        ⓒ 머스터드 드로잉 2022
    </p>
</section>
<!-- footer section -->

<th:block th:replace="fragments/layout.html :: scriptFragment"></th:block>

<script th:src="@{/webjars/github-com-tsayen-dom-to-image/2.6.0/dom-to-image.js}"></script>
<script th:src="@{/webjars/file-saver/dist/FileSaver.js}"></script>

<script>
    const app = new Vue({
        el: '#root',

        data: {
            save_btn_event: false,
            content: null,
            vw1: true,
            vw2: false,
            vw_create: false,
        },
        mounted: function () {

            fetch('/diary/new', {method: 'POST'})
                .then((res) => res.json())
                .then((data) => {
                    this.content = data
                })
        },
        methods: {
            clickSaveBtnHandler: function (e) {
                e.preventDefault()

                if (this.content.text == '') {
                    alert("내용이 없습니다")

                    return
                }

                const bod = new FormData()

                bod.append('_content', JSON.stringify(this.content))

                fetch('/diary', {method: 'PUT', body: bod})
                    .then((res) => res.json())
                    .then((data) => {
                        this.content = data

                        this.save_btn_event = true
                    })

            },
            exportPng: function () {
                const dom_node = document.getElementById('domximage')

                domtoimage.toBlob(dom_node)
                    .then((blob) => {
                        window.saveAs(blob, 'mind.png')
                    })
            },

            copyUrl: function () {

                const url = `${window.location}/${this.content.id}`

                window.navigator.clipboard.writeText(url)
            },

            clickSecretBtn: function () {
                this.vw1 = !this.vw1
                this.vw2 = !this.vw2
            },

            clickCloseSecretBtn: function () {
                window.location.replace('/')
            },

            clickDirectSettingsBtn: function () {
                this.vw1 = false
                this.vw2 = false
                this.vw_create = true

            }
        }
    })
</script>

</body>

</html>