<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Diary</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../assets/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../assets/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              Diary translation
            </span>
          </a>
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="index.html">홈 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html"> 소개 </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="diary.html"> 일기를 쓰기</a>
                </li>
                <li class="nav-item  ">
                  <a class="nav-link" href="crack_diary.html">일기를 풀기</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Login</a>
                </li> -->
              </ul>
            </div>
          </div>
          <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
          </form>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="custom_heading-container">
      <h3 class=" ">
        Blockchain keys
      </h3>
    </div>

    <div class="container layout_padding2-top">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <form action="">
            <div style="position: relative;">
              <span class="publickey1" >PUBLIC:</span> 
              <input class="publickey2"  type="text" disabled value="dfefes89tyty">
            </div>
            <div>
               <span class="publickey1" >PRIVATE:</span> 
              <input class="publickey2"  type="text"  value="dfefes89tyty12degh" disabled>
            </div>
            <div class="d-flex justify-content-center ">
                <button  type="button"  onclick="location.href='../html/create.html';" >암호 직접 설정하기</button>
                <button class="disactiveButton" type="button"  onclick="location.href='../html/index.html';" >닫기</button>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </section>
  <!-- end contact section -->
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
     ⓒ 머스터드 드로잉 2022
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="../assets/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../assets/js/bootstrap.js"></script>
</body>

</html>